@import "tailwindcss";

@theme {
  --color-primary: #10b981;
  --color-primary-light: #0df2ad;
  --color-primary-dark: #059669;
  --color-background-light: #f5f8f7;
  --color-background-dark: #10221d;
  --color-surface-light: #ffffff;
  --color-surface-dark: #1a2e28;
}

@layer base {
  body {
    font-family: "Inter", sans-serif;
    @apply bg-background-light text-gray-900 antialiased;
  }

  .dark body {
    @apply bg-background-dark text-gray-100;
  }
}
